* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .contenedor {
  width: 100%;
  min-height: 100vh;
  background-color: blueviolet;
  display: flex;
  flex-direction: column 1fr 1fr;
}
 */

.main-menu {
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  min-height: 10vh;
  border-bottom: 2px solid whitesmoke;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  box-shadow: 0px 2px 4px 0px whitesmoke;
  position: fixed;
  top: 0;
  z-index: 9999;
}
#logo {
  color: black;
  font-family: poppins;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  margin-left: 12px;
  margin-top: 8px;
  text-decoration: none;
  text-shadow: 0px 1px 1px black;
}

#logo:hover {
  color: rgb(240, 240, 163);
  transform: scale(1.02);
}

.h1-logo {
  font-family: boldonse;
  font-size: 1.5rem;
  font-weight: 500;
}

/* TODO LO QUE ES NAVBAR */

.container-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 12px;
  background-color: transparent;
}
.navbar {
  background-color: none;
}
.nav-bar {
  background-color: transparent;
}

.nav-item {
  font-family: poppins;
}

.btn-nav-bar {
  border: transparent;
}
.btn-nav-bar:hover {
  border: none;
}

.navbar-toggler {
  color: transparent;
}

.navbar-toggler-icon {
  color: #ffed00;
}

body .offcanvas-end {
  width: 60% !important;
}
.offcanvas {
  background-color: white;
}

.img-nav {
  overflow: hidden;
  object-fit: cover;
}

.offcanvas-title {
  font-family: poppins;
  border-bottom: 1px solid gold;
  animation: fadeIn 3s ease 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-menu {
  border: 1px solid gold;
}

#offcanvasNavbar {
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
}

/* COLORES BOTONOS DROPDOWN */
.otoño {
  color: #be5b50;
}
.otoño:hover {
  color: #be5b50;
}

.invierno {
  color: #3d90d7;
}
.invierno:hover {
  color: #3d90d7;
}
.primavera {
  color: #fad0c4;
}
.primavera:hover {
  color: #fad0c4;
}
.verano {
  color: #ffe600;
}
.verano:hover {
  color: #ffe700;
}
/* TERMINA COLORES BOTONOS DROPDOWN */

/* HASTA ACA ES EL NAVBAR */

/* EMPIEZA EL MAIN */

.contenedor-main {
  min-width: 100%;
  min-height: calc(100vh - 10vh - 2px);
  background-color: white;
  box-shadow: #ffed00;
  display: grid;
}

.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #25d366;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: pulso 1.5s infinite;
}

@keyframes pulso {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.seccion {
  min-height: 90vh;
  min-width: 100%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  margin-top: 10vh;
}

.title-page {
  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.fotos-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2;
  overflow: hidden;
  object-fit: cover;
}

.fotos-seccion {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  overflow: hidden;
}

.texto-inicio {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  object-fit: cover;
}

#bienvenida {
  font-family: boldonse;
  font-size: 2.5rem;

  color: white;
  animation: slideIn 2s ease-out forwards;
  overflow: hidden;
  object-fit: cover;
}
#bienvenida-2 {
  font-family: boldonse;
  font-size: 2.5rem;

  color: white;
  animation: slideIn 2s ease-out forwards;
  overflow: hidden;
  object-fit: cover;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.section-2 {
  min-height: 90vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 22.5vh;
  overflow: hidden;
}

.titulo-seccion-2 {
  font-family: boldonse;
  font-size: 1rem;
  color: black;
  background-color: white;
  box-shadow: 0px 2px 4px aliceblue;
  height: 10vh;
  padding: 12px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  margin-bottom: 22.5vh;
  overflow: hidden;
  object-fit: cover;
}

.productos {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  gap: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}

.cards-prod {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #cac2c2;
  padding: 16px;

  text-align: center;
  margin-bottom: 24px;
  overflow: hidden;
  object-fit: cover;
  transform-style: preserve-3d;
  animation: flip 2s ease-in-out;
  animation-iteration-count: 2;
}
@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.img-prod {
  width: 100%;
  height: 80%;
  background-color: transparent;
  margin: 2px;
}

.text-prod {
  font-family: roboto;
  font-weight: 150;
  font-size: 1rem;
  padding: 12px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  box-shadow: 0px 2px 4px #ff53b4;
  overflow: hidden;
  object-fit: cover;
}

.carrusel-title {
  font-family: boldonse;
  font-size: 1rem;
  display: flex;

  margin-bottom: 22.5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid whitesmoke;
  box-shadow: 0px 2px 4px #ff53b4;
  padding: 12px 8px;
  animation: slideIn 1s 4s 1 ease-in-out;
}
.carrusel-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2;
  margin-bottom: 22.5vh;
}

.carousel {
  margin-bottom: 0;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.carousel-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #c2c2c2;
  box-shadow: 0px -21px 25px 4px rgba(255, 83, 180, 0.61);
  -webkit-box-shadow: 0px -21px 25px 4px rgba(255, 83, 180, 0.61);
  -moz-box-shadow: 0px -21px 25px 4px rgba(255, 83, 180, 0.61);
}

.descripcion-pijama {
  font-family: roboto;
  font-size: 2rem;
  font-weight: 100;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin: 25px;
  padding: 12px;
  box-shadow: 0px 2px 4px #ff53b4;
}

/* ACA EMPIEZA EL FOOTER */

.footer {
  height: 20vh;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1000;
  box-shadow: 0px -6px 17px 7px rgba(232, 228, 222, 0.48);
  -webkit-box-shadow: 0px -6px 17px 7px rgba(232, 228, 222, 0.48);
  -moz-box-shadow: 0px -6px 17px 7px rgba(232, 228, 222, 0.48);
}
.container-icons {
  height: 15vh;

  display: flex;
  gap: 24px;
  justify-content: center;
  text-align: center;
  align-items: end;
  padding-bottom: 8px;
}

.icons {
  font-size: 2rem;
  display: flex;
  text-align: center;
  justify-content: end;
  align-items: end;

  text-decoration: none;
  color: black;
}

.footer-text {
  text-align: center;
  align-items: end;
  justify-content: end;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

/* ACA TERMINA EL FOOTER */

/* TERMINA EL INDEX */

/* ACA EMPIEZA LA PAGINA "CATEGORIAS" */

.contenedor-main-categorias {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
}
.section-categorias {
  background-color: white;
  height: 90vh;

  width: 100%;
}

/* CATEGORIAS OTOÑO */

.container-cat-otoño {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

.card-otoño {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  overflow: hidden;
}
.img-cat-otoño {
  height: 90vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.text-categoria {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.cat-title {
  width: 100%;
  color: white;
  background-color: #997025;

  font-family: poppins;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.cat-description {
  padding: 4px;
  color: white;
  font-family: poppins;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  object-fit: cover;
  padding-left: 2px;
  padding-right: 2px;
  animation: slideIn 1.5s ease-out forwards;
}

.btn-cat {
  font-family: roboto;
  font-weight: 400;
  background-color: beige;
  overflow: hidden;
  object-fit: cover;
  width: 180px;
  height: 32px;
  border: 1px solid rgb(255, 230, 0);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  transition: all 0.1s ease-in-out;
}

.btn-cat:active {
  background-color: rgb(255, 200, 118);
  border: 2px solid rgb(255, 230, 0);
  transform: translateY(4px);
  box-shadow: 0 1px #2e7d32;
}

/* ACA TERMINA CAT OTOÑO */

/* ACA EMPIEZA CAT PRIMAVERA */

.cat-title-primavera {
  width: 100%;
  color: white;
  background-color: #2e7d32;

  font-family: poppins;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

/* ACA TERMINA LA PRIMAVERA */

/* ACA EMPIEZA CAT INVIERNO */

.cat-title-invierno {
  width: 100%;
  color: white;
  background-color: #3d90d7;

  font-family: poppins;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

/* ACA TERMINA CAT INVIERNO */

/* ACA EMPIEZA CAT VERANO */

.cat-title-verano {
  width: 100%;
  color: white;
  background-color: #fff018;

  font-family: poppins;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

/* ACA TERMINA CAT VERANO */

/* ARRANCA EL MEDIA QUERY */

@media (min-width: 640px) {
  .header {
    background-color: whitesmoke;
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
  }

  #logo:hover {
    animation: cambioColor 5s infinite;
  }
  @keyframes cambioColor {
    0% {
      color: #ff5733;
    }
    25% {
      color: #ffd000;
    }
    50% {
      color: #8a00fc;
    }
    75% {
      color: #ff53b4;
    }
    100% {
      color: #ff5733;
    }
  }
  .container-nav {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 100px;
    gap: 10px;
    padding-left: 8px;
  }
  #offcanvasNavbar {
    padding-left: 12px;
  }
  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
  }
  .btn-nav-bar {
    border-left: 1px solid white;
    padding: 8px 12px;
    overflow: hidden;
    display: flex;
    gap: 10px;
  }
  .nav-item {
    font-family: poppins;
  }

  .btn-items {
    text-decoration: none;
  }

  .btn-items:hover {
    text-decoration: none;
    color: blueviolet;
  }
  .btn-items:active {
    background-color: transparent;

    box-shadow: inset 0 2px 4px (0, 0, 0, 0, 4);
  }

  .dropdown-menu {
    border: 1px solid gold;
  }

  /* ACA TERMINA EL HEADER Y NAVBAR  */
  /* MAIN Y SECCIONES */

  .seccion {
    margin-top: 10vh;
    min-height: 90vh;
    display: flex;
  }
  .section-2 {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .titulo-seccion-2 {
    font-family: boldonse;
    font-size: 2rem;
    color: black;
    background-color: white;
    box-shadow: none;
    height: 10vh;
    padding: 12px 8px;
    text-align: center;
    margin-top: 10px;
  }

  .productos {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1;
    gap: 12px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .cards-prod {
    display: flex;
    flex-direction: column;
    border: 2px solid whitesmoke;
    padding: 12px;

    text-align: center;
    margin-bottom: 24px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0px 4px 8px whitesmoke;
    transform-style: preserve-3d;
    animation: flip 2s ease-in-out;
    animation-iteration-count: 2;
  }
  @keyframes flip {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  .img-prod {
    width: 100%;
    height: 80%;
    background-color: transparent;
    margin: 2px;
  }

  .text-prod {
    font-family: roboto;
    font-weight: 250;
    font-size: 1.5rem;
    padding: 12px 8px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0px 4px 8px #ff53b4;
  }

  .carrusel-title {
    font-family: boldonse;
    font-size: 2rem;
    color: black;
    background-color: white;
    box-shadow: 0px 2px 4px aliceblue;
    height: 10vh;
    padding: 12px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    margin-bottom: 22.5vh;
  }
  .carrusel-container {
    min-height: 90vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 22.5vh;
    gap: 48px;
  }

  .card-carrusel {
    width: 100%;
    height: 100%;
    padding: 12px 8px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .carousel {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }

  .descripcion-pijama {
    font-family: roboto;
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-left: 32px;
    margin-right: 32px;
    padding: 24px;
    box-shadow: 0px 2px 4px #ff53b4;
  }

  /* FOOTER */

  .footer {
    min-height: 20vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

    box-shadow: 0px -6px 17px 7px rgba(232, 228, 222, 0.48);
    -webkit-box-shadow: 0px -6px 17px 7px rgba(232, 228, 222, 0.48);
    -moz-box-shadow: 0px -6px 17px 7px rgba(232, 228, 222, 0.48);
  }

  .container-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .icons {
    text-decoration: none;
    color: black;
  }

  /* CATEGORIAS */

  .contenedor-main-categorias {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
  }
  .section-categorias {
    background-color: white;
    height: 90vh;

    width: 100%;
  }
  .container-cat-otoño {
    width: 100%;
    height: 100%;

    position: relative;
  }

  .card-otoño {
    display: flex;
    flex-direction: column;
  }
  .img-cat-otoño {
    height: 90vh;
    width: 100%;
  }

  .btn-cat:hover {
    background-color: rgb(255, 200, 118);
    border: 2px solid rgb(255, 230, 0);
  }
}

@media (max-width: 228) {
  .productos {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
  }
}
